<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-form" id="auditForm" style="padding: 20px 20px 20px 20px">
    <div class="layui-form-item">
        <input type="text" id="settleDate" name="settleDate" placeholder="结算日期"
               lay-key="1" class="layui-input">
    </div>
    <div style="position: absolute;bottom: 20px;right: 20px">
        <button class="layui-btn" lay-submit lay-filter="auditForm">确定</button>
        <button id="close" class="layui-btn layui-btn-primary">取消</button>
    </div>
</div>
</body>
<script src="../assets/js/commonJs.js"></script>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/layui/layui.js"></script>

<script>
    //Demo
    var editData, flagStr;
    //    $(function () {
    //        init();
    //    });
    function init() {
        layui.use(['laydate'], function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#settleDate',
                type: 'date', //只选年月
                btns: ['clear', 'confirm']
            });
        });

        layui.use('form', function () {
            var form = layui.form;
            var json = {};
            //监听提交
            if (editData) {
                var arrayObj = new Array();
                for (var i = 0; i < editData.length; i++) {
                    arrayObj.push(editData[i].partId)
                }
                json.ids = arrayObj;
            }
            form.on('submit(auditForm)', function (data) {
                //询问框
                parent.layer.confirm('确认操作勾选的' + editData.length + '条记录吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    layer.msg(JSON.stringify(data.field));
                    json.settleDate = data.field.settleDate
                    var jasondata = JSON.stringify(json);
                    $.ajax({
                        type: 'POST',
                        url: ajaxUri + '/webAjax/partUser/addSettleDate',
                        data: jasondata,
                        dataType: "json",
                        contentType: "application/json",
                        complete: function (status) {
                            var str = status.responseJSON;
                            console.log(str.code);
                            if (str.code > 0) {
                                parent.layer.msg("修改成功");
                                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                parent.reloadTable();
                                parent.layer.close(index);
                            } else {
                                parent.layer.alert('失败，服务器异常.');
                            }
                        }
                    });
                });

                return false;
            });
        });
    }

    $("#close").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    });

    function initAudit(data, flag) {
        console.log(data);
        editData = data;
        //表单初始赋值
        init();
    }
</script>
</html>