<link rel="stylesheet" href="../assets/layui/css/layui.css" media="all">
<link rel="stylesheet" href="assets/css/table-style.css">
<body>
<div class="tab-bar-container">
    <div>
        <div class="loyo-nav-tabs">

            <ul class="loyo-nav-tab pull-left nav nav-pills tab-list">
                <li class="loyo-tab-item active">
                    <a>
                        <h4>接单登记表</h4>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="tab-regions-container clearfix">
    <div class="layui-form" style="padding: 20px 20px 0 20px">
        <div class="layui-form-item" style="display: inline-block">
            <div class="layui-input-inline">
                <select id="partAudit" lay-filter="" lay-verify="required">
                    <option value="" selected="">审核状态</option>
                    <!--<option value="">全部</option>-->
                    <option value="0">待审</option>
                    <option value="1">已审</option>
                </select>
            </div>

            <div class="layui-input-inline">
                <select id="partSettleState" lay-filter="" lay-verify="required">
                    <option value="" selected="">结算状态</option>
                    <!--<option value="">全部</option>-->
                    <option value="0">待结</option>
                    <option value="1">已结</option>
                </select>
            </div>

            <div class="layui-input-inline">
                <select id="moneyState" lay-filter="" lay-verify="required">
                    <option value="" selected="">稿酬状态</option>
                    <!--<option value="">全部</option>-->
                    <option value="0">稿酬为空</option>
                    <option value="1">稿酬不为空</option>
                </select>
            </div>

            <div class="layui-input-inline">
                <input type="text" id="settleDate" placeholder="结算日期"
                       lay-key="1" class="layui-input">
            </div>

            <div class="layui-input-inline">
                <input type="text" id="keyWord" autocomplete="off" class="layui-input"
                       placeholder="订单编号、客服名...">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
    </div>

    <div class="loyo-search-section" style="margin-bottom:0;">
        <button name="btn:pms" value="partTime:order:set" style="display:none" class="btn btn-primary marginr" id="addEntity"><i class="lnr lnr-plus-circle"></i><span>新建</span>
        </button>

        <button name="btn:pms" value="partTime:order:set" style="display:none" class="btn btn-primary marginr" id="editEntity"><span>修改</span>
        </button>

        <button name="btn:pms" value="partTime:order:audit" style="display:none; margin-right: 20px" class="btn btn-primary marginr" lay-event="auditPay" id="auditPay" >
            <span>审核</span>
        </button>

        <button name="btn:pms" value="partTime:order:settle:state" style="display:none" class="btn btn-primary marginr" lay-event="settlePay" id="settlePay"><span>结算状态</span>
        </button>

        <button name="btn:pms" value="partTime:order:settle:date" style="display:none" class="btn btn-primary marginr" lay-event="settleDate" id="setSettleDate"><span>结算日</span>
        </button>

        <button name="btn:pms" value="partTime:order:real" style="display:none" class="btn btn-primary marginr" lay-event="setRealMoney" id="setRealMoney"><span>实发稿酬</span>
        </button>

        <button name="btn:pms" value="partTime:order:export" style="display:none" class="btn btn-primary marginr" id="exportExcel"><span>导出</span>
        </button>

        <button name="btn:pms" value="partTime:order:delete" style="display:none; margin-right: 20px" class="btn btn-danger marginr" id="deleteEntity"><span>删除</span>
        </button>
    </div>

    <table id="partOrderTable" lay-filter="test"></table>
</div>
<script src="/assets/layui/layui.js"></script>
<script src="/js/orderJs/partOrderTable.js"></script>

<script>
    layui.use(['laydate'], function () {
        $("#settleDate").attr("lay-key", getRandomString);
        var laydate = layui.laydate;
        laydate.render({
            elem: '#settleDate',
            type: 'date', //只选年月
            btns: ['clear', 'confirm']
        });
    });

</script>

<script type="text/html" id="submitStateTpl">
    {{#  if(d.submitState === '0' || d.submitState == null){ }}
    <span style="color: #f52727;">{{ '待交' }}</span>
    {{#  } else if(d.submitState === '1') { }}
    {{ '已交' }}
    {{#  } }}
</script>

<script type="text/html" id="partAuditTpl">
    {{#  if(d.partAuditFinance === '0' || d.partAuditFinance == null){ }}
    <span style="color: #f52727;">{{ '待审' }}</span>
    {{#  } else if(d.partAuditFinance === '1') { }}
    {{ '已审' }}
    {{#  } }}
</script>

<script type="text/html" id="settleTpl">
    {{#  if(d.partSettleStateFinance === '0' || d.partSettleStateFinance == null){ }}
    <span style="color: #f52727;">{{ '待结' }}</span>
    {{#  } else if(d.partSettleStateFinance === '1') { }}
    {{ '已结' }}
    {{#  } else if(d.partSettleStateFinance === '-1') { }}
    <span style="color: #f52727;">{{ '未结' }}</span>
    {{#  } }}
</script>
</body>