<link rel="stylesheet" href="../assets/layui/css/layui.css" media="all">
<body>
<div class="tab-bar-container">
    <div>
        <div class="loyo-nav-tabs">

            <ul class="loyo-nav-tab pull-left nav nav-pills tab-list">
                <li class="loyo-tab-item active">
                    <a>
                        <h4>兼职信息</h4>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="tab-regions-container clearfix">
    <div class="layui-form" style="padding: 20px 20px 0 20px">
        <div class="layui-form-item" style="display: inline-block">
            <div class="layui-input-inline">
                <input type="text" id="keyWord" autocomplete="off" class="layui-input"
                       placeholder="账号、QQ">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="recentDate" placeholder="最近接单日"
                       class="layui-input">
            </div>
            <div class="layui-input-inline">
                <select id="masterHand" lay-filter="" lay-verify="required">
                    <option value="" selected="">是否在熟手群</option>
                    <!--<option value="">全部</option>-->
                    <option value=true>是</option>
                    <option value=false>否</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="referrer" lay-filter="" lay-verify="required">
                    <option value="" selected="">兼职推荐人</option>
                    <!--<option value="">全部</option>-->
                    <option value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
    </div>

    <div class="loyo-search-section" style="margin-bottom:0;">
        <button name="btn:pms" value="partTime:user:set" style="display:none" class="btn btn-primary marginr"
                id="addEntity"><i class="lnr lnr-plus-circle"></i><span>新建</span>
        </button>

        <button name="btn:pms" value="partTime:user:set" style="display:none" class="btn btn-primary marginr"
                id="editEntity"><span>修改</span>
        </button>

        <button name="btn:pms" value="partTime:user:export" style="display:none" class="btn btn-primary marginr"
                id="exportExcel"><span>导出</span>
        </button>

        <button name="btn:pms" value="partTime:user:set" style="display:none;margin-right: 20px"
                class="btn btn-danger marginr" id="deleteEntity"><span>删除</span>
        </button>
    </div>

    <table id="partUserTable" lay-filter="test"></table>
</div>

<script src="/js/orderJs/partTime.js"></script>
<script type="text/html" id="sexTpl">
    {{#  if(d.sex === '女'){ }}
    <span style="color: #F581B1;">{{ d.sex }}</span>
    {{#  } else { }}
    {{ d.sex }}
    {{#  } }}
</script>
</body>