<style>
    th {
        /*background-color: #ffd7e5;*/
    }

    .back1 {
        background-color: #ffecf3;
    }

    .back2 {
        background-color: #f6ffd9;
    }

    .btn {
        padding: 6px 12px !important;
    }
</style>
<link rel="stylesheet" href="assets/css/table-style.css">
<script src="/assets/layui/layui.js"></script>
<body>
<div class="tab-bar-container">
    <div>
        <div class="loyo-nav-tabs">

            <ul class="loyo-nav-tab pull-left nav nav-pills tab-list">
                <li class="loyo-tab-item active">
                    <a>
                        <h4>订单管理</h4>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="tab-regions-container clearfix">
    <div class="layui-form" style="padding: 20px 20px 0 20px">
        <div class="layui-form-item" style="display: inline-block">
            <div class="layui-input-inline">
                <input type="text" id="getOrderDate" placeholder="接单时间"
                       lay-key="1" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="deliveryDate" placeholder="交稿时间"
                       lay-key="1" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <select id="payState" lay-filter="" lay-verify="required">
                    <option value="" selected="">付款状态</option>
                    <!--<option value="">全部</option>-->
                    <option value="1">已付</option>
                    <option value="0">未付</option>
                    <option value="2">部分付</option>
                    <option value="-1">待退款</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="submitState" lay-filter="" lay-verify="required">
                    <option value="" selected="">交稿状态</option>
                    <!--<option value="">全部</option>-->
                    <option value="0">待交</option>
                    <option value="1">已交</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="partInfo" lay-filter="" lay-verify="required">
                    <option value="" selected="">兼职信息</option>
                    <!--<option value="1">a</option>-->
                    <!--<option value="2">b</option>-->
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" id="keyWord" autocomplete="off" class="layui-input"
                       placeholder="输入客户IM、订单编号...">
            </div>

        </div>
        <div class="layui-form-item" style="display: inline-block">
            <div class="layui-input-inline">
                <select id="serviceName" lay-filter="" lay-verify="required">
                    <option value="" selected="">接单客服</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="sendServiceName" lay-filter="" lay-verify="required">
                    <option value="" selected="">派单客服</option>
                    <!--<option value="1">公司</option>-->
                    <!--<option value="2">个人</option>-->
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="audit" lay-filter="" lay-verify="required">
                    <option value="" selected="">订单审核</option>
                    <!--<option value="">全部</option>-->
                    <option value="0">待审</option>
                    <option value="1">通过</option>
                    <option value="-1">未通过</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="partAudit" lay-filter="" lay-verify="required">
                    <option value="" selected="">兼职审核</option>
                    <!--<option value="">全部</option>-->
                    <option value="0">待审</option>
                    <option value="1">已审</option>
                </select>
            </div>

            <div class="layui-input-inline">
                <select id="partSettleState" lay-filter="" lay-verify="required">
                    <option value="" selected="">结算状态</option>
                    <!--<option value="">全部</option>-->
                    <option value="0">待结</option>
                    <option value="1">已结</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" id="settleDate" placeholder="结算日期"
                       lay-key="1" class="layui-input">
            </div>

            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
    </div>

    <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>


    <div class="loyo-search-section" style="margin-bottom:0;">
        <button class="btn btn-primary marginr" id="addWorkPay"><i class="lnr lnr-plus-circle"></i><span>新建</span>
        </button>

        <button class="btn btn-primary marginr" id="zhipai"><i class="lnr lnr-plus-circle"></i><span>指派</span>
        </button>

        <button class="btn btn-primary marginr" id="jiaogaoState"><span>交稿状态</span>
        </button>

        <button class="btn btn-primary marginr" id="editOrder"><span>修改订单</span>
        </button>

        <button class="btn btn-primary marginr" id="editPartTime"><span>修改兼职</span>
        </button>
        <button class="btn btn-primary marginr" id="addjiesuan"><span>添加结算日</span>
        </button>
        <button class="btn btn-primary marginr" id="editCurrentPart" style="margin-right: 20px"><span>修改当前兼职</span>
        </button>

        <button class="btn btn-primary marginr" id="auditPay"><span>订单审核</span>
        </button>

        <button class="btn btn-primary marginr" id="settlePay"><span>兼职审核</span>
        </button>

        <button class="btn btn-primary marginr"><span>导出</span>
        </button>
    </div>

    <table id="fromManageTable" lay-filter="test"></table>
</div>


<script src="/js/orderJs/formTable.js"></script>

<script>
    layui.use(['laydate'], function () {

        $("#payDate").attr("lay-key", getRandomString);
        console.log("ddddddaaate")
        var laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#payDate',
            type: 'month', //只选年月
            btns: ['clear', 'confirm']
        });
    });

</script>
<script type="text/html" id="auditTpl">
    {{#  if(d.audit === '0'){ }}
    <span style="color: #f52727;">{{ '待审' }}</span>
    {{#  } else if(d.audit === '1') { }}
    {{ '通过' }}
    {{#  } else if(d.audit === '-1') { }}
    <span style="color: #f52727;">{{ '未通过' }}</span>
    {{#  } }}
</script>

<script type="text/html" id="partAuditTpl">
    {{#  if(d.partAudit === '0'){ }}
    <span style="color: #f52727;">{{ '待审' }}</span>
    {{#  } else if(d.partAudit === '1') { }}
    {{ '已审' }}
    {{#  } }}
</script>

<script type="text/html" id="payStateTpl">

    {{#  if(d.payState === '0'){ }}
    <span style="color: #f52727;">{{ '未付' }}</span>
    {{#  } else if(d.payState === '1') { }}
    {{ '已付' }}
    {{#  } else if(d.payState === '2') { }}
    <span style="color: #ff9597;">{{ '部分付' }}</span>
    {{#  } else if(d.payState === '-1') { }}
    <span style="color: #6393ff;">{{ '待退款' }}</span>
    {{#  } }}
</script>

<script type="text/html" id="settleTpl">
    {{#  if(d.partSettleState === '0'){ }}
    <span style="color: #f52727;">{{ '待结' }}</span>
    {{#  } else if(d.partSettleState === '1') { }}
    {{ '已结' }}
    {{#  } }}
</script>


<script type="text/html" id="submitStateTpl">
    {{#  if(d.submitState === '0'){ }}
    <span style="color: #f52727;">{{ '待交' }}</span>
    {{#  } else if(d.submitState === '1') { }}
    {{ '已交' }}
    {{#  } }}
</script>


<!--<script type="text/html" id="sexTpl">-->
<!--{{#  if(d.sex === '女'){ }}-->
<!--<span style="color: #F581B1;">{{ d.sex }}</span>-->
<!--{{#  } else { }}-->
<!--{{ d.sex }}-->
<!--{{#  } }}-->
<!--</script>-->
</body>
