<link rel="stylesheet" href="assets/css/table-style.css">
<script src="/assets/layui/layui.js"></script>
<body>
<div class="tab-bar-container">
    <div>
        <div class="loyo-nav-tabs">

            <ul class="loyo-nav-tab pull-left nav nav-pills tab-list">
                <li class="loyo-tab-item active">
                    <a>
                        <h4> 主关键词</h4>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="tab-regions-container clearfix">
    <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>


    <div class="loyo-search-section" style="margin-top:15px;">
        <button class="btn btn-primary marginr" id="addKeyWord"><i class="lnr lnr-plus-circle"></i><span>新建</span>
        </button>

        <button class="btn btn-primary marginr" id="editKeyWord"><span>修改</span>
        </button>

        <button class="btn btn-primary marginr" id="deleteEntity"><span>删除</span>
        </button>

    </div>

    <table id="workPayTable" lay-filter="test"></table>
</div>


<script src="/js/orderJs/keyWordTable.js"></script>

</body>
