<!doctype html>
<html lang="en">

<head>
    <title>Dashboard | Klorofil</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css">
    <!--<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">-->
    <link rel="stylesheet" href="assets/css/bootstrap/indexMain.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="assets/css/fonts.css" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <link rel="stylesheet" href="assets/layui/css/layui.css" media="all">

    <link rel="stylesheet" type="text/css" media="all" href="assets/css/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" media="all" href="assets/css/daterangepicker-1.3.7.css" />
    <link href="assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" media="all" href="daterangepicker.css" />-->
    <style>
        a {
            cursor: pointer !important;
        }

        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top" id="nav1">
        <div class="brand">
            <a href="index"><img src="assets/img/logo-dark.png" alt="Klorofil Logo"
                                 class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <!--<form class="navbar-form navbar-left">-->
            <!--<div class="input-group">-->
            <!--<input type="text" value="" class="form-control" placeholder="Search dashboard...">-->
            <!--<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>-->
            <!--</div>-->
            <!--</form>-->
            <!--<div class="navbar-btn navbar-btn-right">-->
            <!--<a class="btn btn-success update-pro"-->
            <!--href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro"-->
            <!--title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>-->
            <!--</div>-->
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span id="username">David</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>-->
                            <!--<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>-->
                            <!--<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>-->
                            <li onclick="logout()"><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li style="display:none" name="menu" value="part1">
                        <a href="#subPages1" data-toggle="collapse" class="collapsed"><i class="lnr lnr-users"></i>
                            <span>文案一部</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages1" class="collapse ">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="formManage" onclick="loadUI('/wenanPart/formManage',1,this)">
                                    <a class="">订单管理</a>
                                </li>
                                <!--<li onclick="loadUI('/wenanPart/orderTable')">-->
                                <!--<a id="order1" class="">临时任务</a>-->
                                <!--</li>-->
                                <li style="display:none" name="menu" value="workPay" onclick="loadUI('/wenanPart/workPay',1, this)">
                                    <a class="">办公支出</a>
                                </li>
                                <li style="display:none" name="menu" value="file" onclick="loadUI('/wenanPart/fileManage',1,this)">
                                    <a class="">文件柜</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li style="display:none" name="menu" value="part2">
                        <a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-users"></i>
                            <span>文案二部</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages2" class="collapse ">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="formManage" onclick="loadUI('/wenanPart/formManage',2,this)">
                                    <a class="">订单管理</a>
                                </li>
                                <li style="display:none" name="menu" value="workPay" onclick="loadUI('/wenanPart/workPay',2,this)">
                                    <a class="">办公支出</a>
                                </li>
                                <li style="display:none" name="menu" value="file" onclick="loadUI('/wenanPart/fileManage',2,this)">
                                    <a class="">文件柜</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li style="display:none" name="menu" value="part3">
                        <a href="#subPages3" data-toggle="collapse" class="collapsed"><i class="lnr lnr-users"></i>
                            <span>文案三部</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages3" class="collapse">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="formManage"  onclick="loadUI('/wenanPart/formManage',3,this)">
                                    <a class="">订单管理</a>
                                </li>
                                <li style="display:none" name="menu" value="workPay" onclick="loadUI('/wenanPart/workPay',3,this)">
                                    <a class="">办公支出</a>
                                </li>
                                <li style="display:none" name="menu" value="file" onclick="loadUI('/wenanPart/fileManage',3,this)">
                                    <a class="">文件柜</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li style="display:none" name="menu" value="apply">
                        <a href="#apply" data-toggle="collapse" class="collapsed"><i class="lnr lnr-location"></i>
                            <span>申请部</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="apply" class="collapse ">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="apply:workPay" onclick="loadUI('/wenanPart/workPay','apply',this)">
                                    <a class="">办公支出</a>
                                </li>
                                <li style="display:none" name="menu" value="apply:file" onclick="loadUI('/wenanPart/fileManage','apply',this)">
                                    <a class="">文件柜</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li style="display:none" name="menu" value="marketing">
                        <a href="#marketing" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cart"></i>
                            <span>营销部</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="marketing" class="collapse ">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="marketing:keyWord" onclick="loadUI('/wenanPart/keyWord','marketing',this)">
                                    <a class="">主关键词</a>
                                </li>
                                <li style="display:none" name="menu" value="marketing:workPay" onclick="loadUI('/wenanPart/workPay','marketing',this)">
                                    <a class="">办公支出</a>
                                </li>
                                <li style="display:none" name="menu" value="marketing:file" onclick="loadUI('/wenanPart/fileManage','marketing',this)">
                                    <a class="">文件柜</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li style="display:none" name="menu" value="internal">
                        <a href="#interWork" data-toggle="collapse" class="collapsed"><i class="lnr lnr-inbox"></i>
                            <span>内勤部</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="interWork" class="collapse ">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="internal:file" onclick="loadUI('/wenanPart/fileManage','internal',this)">
                                    <a class="">文件柜</a>
                                </li>
                                <li style="display:none" name="menu" value="internal:workPay" onclick="loadUI('/wenanPart/workPay','internal',this)">
                                    <a class="">办公支出</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li style="display:none" name="menu" value="finance">
                        <a href="#finance" data-toggle="collapse" class="collapsed"><i class="lnr lnr-chart-bars"></i>
                            <span>财务部</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="finance" class="collapse ">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="finance:file" onclick="loadUI('/wenanPart/fileManage','finance',this)">
                                    <a class="">文件柜</a>
                                </li>
                                <li style="display:none" name="menu" value="finance:workPay" onclick="loadUI('/wenanPart/workPay','finance',this)">
                                    <a class="">办公支出</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li style="display:none" name="menu" value="partTime">
                        <a href="#partTime" data-toggle="collapse" class="collapsed"><i
                                class="lnr lnr-graduation-hat"></i> <span>兼职团</span> <i
                                class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="partTime" class="collapse ">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="partTime:user" onclick="loadUI('/partTime/partUserTable','',this)">
                                    <a class="">兼职信息</a>
                                </li>
                                <li style="display:none" name="menu" value="partTime:order" onclick="loadUI('/partTime/partOrderTable','',this)">
                                    <a class="">兼职接单登记表</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li style="display:none" name="menu" value="system">
                        <a href="#system" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>系统设置</span>
                            <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="system" class="collapse ">
                            <ul class="nav">
                                <li style="display:none" name="menu" value="system:role" onclick="loadUI('/role/userManage','',this)">
                                    <a class="">用户及分组</a>
                                </li>
                                <li style="display:none" name="menu" value="system:permission" onclick="loadUI('/role/roleManage','',this)">
                                    <a class="">权限设置</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content" style="min-height: 894px">
            <div class="main-wrapper" id="bodyCenter">

            </div>

        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/layui/layer/layer.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<!--<script src="assets/vendor/chartist/js/chartist.min.js"></script>-->
<script src="/assets/scripts/klorofil-common.js"></script>
<script src="/assets/layui/layui.js"></script>

<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/daterangepicker-1.3.7.js"></script>
<script src="/assets/js/commonJs.js"></script>
<script>
    $(function () {
        var navH = $("#nav1").height();
        var mainH = $(document.body).height();
        $("#sidebar-nav").height(mainH - navH);
        //左边所有的超链接，拦截点击事件，发送ajax，结果写入右边的容器里面http://localhost:63343/webTemple/tid_5_klorofil/wenanPart/orderTable.html?_ijt=7grt9dqvqpeu59b8h71hqfrk47
        //设置权限
        permissionInit();
        setMenuPermission();
    });
    var el;

    function logout() {
        $.ajax({
            type: 'GET',
            url: ajaxUri + '/logout',
            complete: function (status) {
                window.location.href = ajaxUri + '/login'
            }
        });
    }

    function loadUI(url, part, e) {
        if (el) {
            el.attr("class", "");
        }
        el = $(e).children("a")
        el.attr("class", "active");
        partNow = part;
        if (url.trim() != '') {
            // _start = true;
            $("#bodyCenter").load(url);
        } else {
            layer.msg('敬请期待^^');
        }
    }


    //左侧菜单权限设置
    function setMenuPermission() {
        $("li[name='menu']").each(function () {
            //console.log('val == ' + $(this).attr("value"))
            var liValue = $(this).attr("value");
            if (permissionList.indexOf(liValue) == -1 && permissionList.indexOf("all") == -1) {
                $(this).remove();
            }else {
                $(this).show();
            }
        });
    }
</script>
</body>
</html>
