<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3>index</h3>

<!-- 验证当前用户是否为“访客”，即未认证（包含未记住）的用户。 -->
<p shiro:guest="">Please <a href="login1.html">login</a></p>


<!-- 认证通过或已记住的用户。 -->
<p shiro:user="">
    Welcome back John! Not John? Click <a href="login1.html">here</a> to login.
</p>

<!-- 已认证通过的用户。不包含已记住的用户，这是与user标签的区别所在。 -->
<p shiro:authenticated="">
    Hello, <span shiro:principal=""></span>, how are you today?
</p>
<a shiro:authenticated="" href="updateAccount.html">Update your contact information</a>

<!-- 输出当前用户信息，通常为登录帐号信息。 -->
<p>Hello, <shiro:principal/>, how are you today?</p>


<!-- 未认证通过用户，与authenticated标签相对应。与guest标签的区别是，该标签包含已记住用户。 -->
<p shiro:notAuthenticated="">
    Please <a href="login1.html">login</a> in order to update your credit card information.
</p>

<!-- 验证当前用户是否属于该角色。 -->
<a shiro:hasRole="admin" href="admin.html">Administer the system</a><!-- 拥有该角色 -->

<!-- 与hasRole标签逻辑相反，当用户不属于该角色时验证通过。 -->
<p shiro:lacksRole="developer"><!-- 没有该角色 -->
    Sorry, you are not allowed to developer the system.
</p>

<!-- 验证当前用户是否属于以下所有角色。 -->
<p shiro:hasAllRoles="developer, admin"><!-- 角色与判断 -->
    You are a developer and a admin.
</p>

<!-- 验证当前用户是否属于以下任意一个角色。  -->
<p shiro:hasAnyRoles="admin, vip, developer"><!-- 角色或判断 -->
    You are a admin, vip, or developer.
</p>

<!--验证当前用户是否拥有指定权限。  -->
<a shiro:hasPermission="userInfo:add" href="createUser.html">添加用户</a><!-- 拥有权限 -->

<!-- 与hasPermission标签逻辑相反，当前用户没有制定权限时，验证通过。 -->
<p shiro:lacksPermission="userInfo:del"><!-- 没有权限 -->
    Sorry, you are not allowed to delete user accounts.
</p>

<!-- 验证当前用户是否拥有以下所有角色。 -->
<p shiro:hasAllPermissions="userInfo:view, userInfo:add"><!-- 权限与判断 -->
    You can see or add users.
</p>

<!-- 验证当前用户是否拥有以下任意一个权限。  -->
<p shiro:hasAnyPermissions="userInfo:view, userInfo:del"><!-- 权限或判断 -->
    You can see or delete users.
</p>
<p shiro:hasAnyPermissions="userInfo:test"><!-- 权限或判断 -->
    测试用户权限
</p>
<p shiro:hasAnyPermissions="1111111"><!-- 权限或判断 -->
    1111111
</p>
<p shiro:hasAnyPermissions="perms[viewshow]"><!-- 权限或判断 -->
    viewshowviewshow
</p>
<form>
    <div>权限available:<input type="text" id="available" value=""/></div>
    <div>权限name:<input type="text" id="name" value=""/></div>
    <div>权限parent_id:<input type="text" id="parent_id" value=""/></div>
    <div>权限parent_ids:<input type="text" id="parent_ids" value=""/></div>
    <div>权限permission:<input type="text" id="permission" value=""/></div>
    <div>权限resource_type:<input type="text" id="resource_type" value=""/></div>
    <div>权限url:<input type="text" id="url" value=""/></div>
    <div><input type="submit" onclick="insert();" value="新增"/></div>
</form>
<li><input name="uname" id="txt_username" value="请输入用户名" onfocus="if (value =='请输入用户名'){value =''}"
           onblur="if (value ==''){value='请输入用户名'}" type="text" class="user1"/></li>
<button type="button" onclick="delByUsername();" style="float: right; margin-right: 1px;">清除</button>
<h1>用户列表--<a href="logout">退出登录</a>    </h1>
<script th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script>
    function delById() {
        $.ajax({
            cache: true,
            type: "POST",
            url: 'clearmy',
            data: {'userName': password},
            async: false,
            success: function (data) {
                if (data == "success") {
                    layer.msg('删除成功');
                } else {
                    layer.msg('删除失败');
                }
            }
        });
    }
    function delByUsername() {
        var uname = $("#txt_username").val();
        if(uname=="请输入用户名" || uname==""){
            //alert("请输入用户名！");
            window.wxc.xcConfirm("请输入用户名!", window.wxc.xcConfirm.typeEnum.warning);
            return;
        }
        $.ajax({
            cache: true,
            type: "POST",
            url:'clearpermissions',
            data: {'userName':uname},
            async: false,
            success: function(data) {
                if(data=="success"){
                    layer.msg('清除成功');
                }else{
                    layer.msg('清除失败');
                }
            }
        });
    }
    function insert() {
        var available = $("#available").val();
        var name = $("#name").val();
        var parent_id = $("#parent_id").val();
        var parent_ids = $("#parent_ids").val();
        var permission = $("#permission").val();
        var resource_type = $("#resource_type").val();
        var url = $("#url").val();
        $.ajax({
            cache: true,
            type: "POST",
            url:'insert',
            data: {'Available':available,'Name':name,'ParentId':parent_id,'ParentIds':parent_ids,'Permission':permission
            ,'ResourceType':resource_type,'Url':url},
            async: false,
            success: function(data) {
                var result = data.getAttribute("state");
                if(result=="success"){
                    layer.msg('成功');
                }else{
                    layer.msg('失败');
                }
            }
        });
    }
</script>
</body>
</html>