<link rel="stylesheet" href="/assets/css/auth.css" media="all">
<script src="/assets/layui/layui.js"></script>

<div class="loyo-search-section" style="margin-top: 10px">
    <button class="layui-btn" id="addRole" onclick="addRole()"><i class="lnr lnr-plus-circle"></i><span>新建分组</span>
    </button>
    <button class="layui-btn" id="editRole" onclick="editRole()"><span>修改分组</span>
    </button>
    <button class="layui-btn" id="deleteRole" onclick="deleteRole()"><span>删除分组</span>
    </button>
</div>
<div class="site-inline">
    <div class="site-tree">
        <ul class="layui-tree" id="roleList">
        </ul>
    </div>
    <div class="site-content">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>权限设置</legend>
        </fieldset>
        <!-- 此扩展能递归渲染一个权限树，点击深层次节点，父级节点中没有被选中的节点会被自动选中，单独点击父节点，子节点会全部 选中/去选中 -->
        <form class="layui-form">
            <div class="layui-form-item">
                <!--<label class="layui-form-label" style="width: 100px">选择权限:</label>-->
                <div class="layui-input-block" style="margin-left: 50px;">
                    <div id="LAY-auth-tree-index"></div>
                </div>
            </div>
            <!--<div class="layui-form-item">-->
            <!--<div class="layui-input-block">-->
            <!--<button type="button" class="layui-btn layui-btn-primary" onclick="showAll('#roleList')">-->
            <!--全部展开-->
            <!--</button>-->
            <!--<button class="layui-btn" type="submit" lay-submit lay-filter="LAY-auth-tree-submit">提交</button>-->
            <!--<button class="layui-btn layui-btn-primary" type="reset">重置</button>-->
            <!--</div>-->
            <!--</div>-->
        </form>
    </div>
</div>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    var authtree, elThis = null, elOld = null, thisRoleId = 0, thisRoleName = '';
    $(function () {
        layui.config({
            base: 'extends/',
        }).extend({
            authtree: 'authtree',
        });
        layui.use(['jquery', 'authtree', 'form', 'layer'], function () {
            var $ = layui.jquery;
            authtree = layui.authtree;
            var form = layui.form;
            var layer = layui.layer;
            initRoleList();
            // PS:使用 form.on() 会引起了事件冒泡延迟的BUG，需要 setTimeout()，并且无法监听全选/全不选
            // PS:如果开启双击展开配置，form.on()会记录两次点击事件，authtree.on()不会
            /*			form.on('checkbox(lay-check-auth)', function(data){
            */			// 使用 authtree.on() 不会有冒泡延迟
            authtree.on('change(lay-check-auth)', function (data) {
                console.log('监听 authtree 触发事件数据', data);
                // 获取最新选中
                var lastChecked = authtree.getLastChecked('#LAY-auth-tree-index');
                // 获取最新取消
                var lastNotChecked = authtree.getLastNotChecked('#LAY-auth-tree-index');
                var flag, pId;
                if (lastChecked.length == 1) {
                    flag = 1;
                    pId = lastChecked[0]
                } else if (lastNotChecked.length == 1) {
                    flag = -1;
                    pId = lastNotChecked[0]
                } else {
                    layer.alert("未检测到勾选或取消");
                }

                $.ajax({
                    // url: 'tree.json',
                    url: ajaxUri + '/webAjax/roleManage/setPermission?flag=' + flag + '&roleId=' + thisRoleId + '&permissionId=' + pId,
                    dataType: 'json',
                    success: function (data) {
                        layer.msg("设置成功");
                    },
                    error: function (xml, errstr, err) {
                        layer.alert('获取用户组数据失败');
                    }
                });
            });
            authtree.on('deptChange(lay-check-auth)', function (data) {
                console.log('监听到显示层数改变', data);
            });
            authtree.on('dblclick(lay-check-auth)', function (data) {
                console.log('监听到双击事件', data);
            });
        });
    });

    function renderTree(roleId) {
        // 初始化
        $.ajax({
            // url: 'tree.json',
            url: ajaxUri + '/webAjax/roleManage/queryPermission?roleId=' + roleId,
            dataType: 'json',
            success: function (data) {
                // 渲染时传入渲染目标ID，树形结构数据（具体结构看样例，checked表示默认选中），以及input表单的名字
                authtree.render('#LAY-auth-tree-index', data.data.trees, {
                    inputname: 'authids[]'
                    , layfilter: 'lay-check-auth'
                    // ,dblshow: true
                    // ,dbltimeout: 180
                    // ,autoclose: false
                    // ,autochecked: false
                    // ,openchecked: true
                    // ,openall: true
                    // ,hidechoose: true
                    // ,checkType: 'radio'
                    // ,checkSkin: 'primary'
                    , autowidth: true
                });
            },
            error: function (xml, errstr, err) {
                layer.alert(errstr + '，获取数据失败！');
            }
        });
    }

    function selectRole(roleId, el, desr) {
        if (thisRoleId == roleId) {
            return
        }
        elOld = elThis;
        elThis = el;
        $(elThis).addClass("layui-this");
        if (elOld) {
            $(elOld).removeClass("layui-this");
        }
        thisRoleId = roleId;
        thisRoleName = desr;
        renderTree(roleId);
    }

    function initRoleList() {
        // 初始化
        elThis = null, elOld = null, thisRoleId = 0, thisRoleName = '';
        $("#roleList").html("<li><h2>分组</h2></li>");

        $.ajax({
            // url: 'tree.json',
            url: ajaxUri + '/webAjax/roleManage/queryRole',
            dataType: 'json',
            async: false,
            success: function (data) {
                var list = data.data;
                for (var i = 0; i < list.length; i++) {
                    var el = list[i];
                    var id = el.id;
                    var itemDiv = $("<li class='site-tree-noicon' roleId='" + id + "'>\n" +
                        "                <a><cite>" + el.description + "</cite></a>\n" +
                        "            </li>");
                    if (i == 0) {
                        selectRole(id, itemDiv, el.description);
                    }
                    itemDiv.attr("onclick", "selectRole(" + id + ",this,'" + el.description + "');");
                    $("#roleList").append(itemDiv);
                }
            },
            error: function (xml, errstr, err) {
                layer.alert('获取用户组数据失败');
            }
        });
    }

    // 显示全部
    function showAll(dst) {
        layui.use(['jquery', 'layer', 'authtree'], function () {
            var layer = layui.layer;
            var authtree = layui.authtree;

            authtree.showAll(dst);
        });
    }

    function addRole() {
        layer.open({
            type: 1 //Page层类型
            //,area: ['500px', '300px']
            , btn: ["确定", "取消"]
            , title: '新建分组'
            , skin: 'layui-layer-prompt'
            , content: "<div class=''><input type='text' class='layui-layer-input'></div>"
            , yes: function (index, layero) {
                //按钮【按钮一】的回调
                console.log($(layero).find("input[type='text']").val());
                $.ajax({
                    url: ajaxUri + '/webAjax/roleManage/addRole?description=' + $(layero).find("input[type='text']").val(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === 1) {
                            layer.msg('添加成功');
                            initRoleList()
                            layer.closeAll();
                        } else if (data.code === -100) {
                            layer.msg('该分组名已经存在');
                        } else {
                            layer.msg('未知错误');
                        }
                    },
                    error: function (xml, errstr, err) {
                        layer.alert('服务器异常');
                    }
                });
            }
        });
    }

    function editRole() {
        layer.open({
            type: 1 //Page层类型
            , btn: ["确定", "取消"]
            , title: '修改分组'
            , skin: 'layui-layer-prompt'
            , content: "<div class=''><input type='text' class='layui-layer-input' value='" + thisRoleName + "'></div>"
            , yes: function (index, layero) {
                //按钮【按钮一】的回调
                console.log($(layero).find("input[type='text']").val());
                var req = {
                    id: thisRoleId,
                    description: $(layero).find("input[type='text']").val()
                };
                var jasondata = JSON.stringify(req);
                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    data: jasondata,
                    url: ajaxUri + '/webAjax/roleManage/editRole',
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === 1) {
                            layer.msg('修改成功');
                            initRoleList()
                            layer.closeAll();
                        } else if (data.code === -100) {
                            layer.msg('该分组名已经存在');
                        } else {
                            layer.msg('未知错误');
                        }
                    },
                    error: function (xml, errstr, err) {
                        layer.alert('服务器异常');
                    }
                });
            }
        });
    }

    function deleteRole() {
        layer.confirm('确认删除吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url: ajaxUri + '/webAjax/roleManage/deleteRole?id=' + thisRoleId,
                dataType: 'json',
                success: function (data) {
                    if (data.code === 1) {
                        layer.msg('删除成功');
                        initRoleList()
                        layer.closeAll();
                    } else {
                        layer.msg('未知错误');
                    }
                },
                error: function (xml, errstr, err) {
                    layer.alert('服务器异常');
                }
            });
        });
    }
</script>